{% extends"base.html.twig" %}
{% block body %}
    <div class="example-wrapper">
        <br>
        <h1 style="text-align: center">Ajouter un commentaire</h1>
        <br>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.content, 'Rédiger un commentaire : ') }}
            <br>
            {{ form_widget(form.content) }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}